body {
  font-family:'Montserrat Alternates', sans-serif;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
  
}

h1 {
    font-size: 3em;
    color: rgb(99, 4, 123);
    text-align: center;
}

p {
  font-size: 1em;
  text-align: left;
}

.planet {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: radial-gradient(circle at 0% 50%, transparent 20%, #1DB3F9 21%, #513CF3 34%, transparent 35%, transparent),
  radial-gradient(circle at 100% 50%, transparent 20%, #513CF3 21%, #1DB3F9 34%, transparent 35%, transparent) 0 -50px;
  background-color: #FD4A65;
  background-size: 75px 100px;
}

.source {
  font-size: .75em;
}